@media screen and (min-width: 375px) and (max-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
  }

  .homep {
    background-color: #1c1a19;
    background-image: url(./assets/images/mobile_home.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 270px;
    padding-bottom: 120px;
  }

  .logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    color: #fff;
  }

  .logo {
    border: 1px solid;
    background-color: grey;
  }

  header {
    background-color: grey;
  }

  nav ul {
    display: none;
  }

  .hambuger {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-top: -55px;
    padding-right: 20px;
  }

  .hambuger p {
    border: 1px solid #fff;
    width: 20px;
    margin-bottom: -10px;
  }

  .intro {
    padding-top: 120px;
    margin-top: 30px;
  }

  .intro h1 {
    color: #ff6b00;
    font-weight: bold;
    font-size: 40px;
    margin: 0 24px 10px 24px;
  }

  .work h2 {
    color: #fff5e1;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin: 12px 24px 12px 24px;
  }

  .details p {
    color: #fff;
    margin: 0 24px 0 24px;
    font-size: 18px;
  }

  .icons ul {
    display: flex;
    gap: 9px;
    padding-left: 35px;
    list-style: none;
  }
}
