* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
  }

  .homep {
    background-color: #1c1a19;
    background-image: url(./assets/images/mobile_home.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 270px;
    padding-bottom: 120px;
  }

  .logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    color: #fff;
  }

  .logo {
    background-color: grey;
  }

  header {
    background-color: grey;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 70%;
  }

  nav {
    align-items: center;
  }

  nav ul {
    display: none;
  }

  .hambuger {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }

  .hambuger p {
    border: 1px solid #fff;
    width: 20px;
    margin-bottom: -10px;
  }

  .intro {
    padding-top: 120px;
  }

  .intro h1 {
    color: #ff6b00;
    font-weight: bold;
    font-size: 40px;
    margin: 0 24px 10px 24px;
  }

  .work h2 {
    color: #fff5e1;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin: 12px 24px 12px 24px;
  }

  .details p {
    color: #fff;
    margin: 0 24px 0 24px;
    font-size: 18px;
  }

  .icons ul {
    display: flex;
    gap: 9px;
    padding-left: 35px;
    list-style: none;
    margin-top: 20px;
  }

  .projects {
    padding-top: 150px;
  }

  .title h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }

  .title p {
    border: 1px solid grey;
    margin: 10px 35px 70px 35px;
    text-align: center;
  }

  .multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .multi-para p {
    margin: 10px 30px 10px 30px;
    line-height: 26px;
    font-size: 18px;
  }

  .multi-lang ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
    margin-left: -10px;
  }

  .multi-lang ul li {
    font-size: 20px;
    border: 1px solid grey;
    padding: 5px;
  }

  .multi-but button {
    margin-left: -164px;
    font-size: 20px;
    color: #fff;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 10px 15px;
    margin-top: 20px;
  }

  .cards {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card {
    background-image: url(./assets/images/proj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    gap: 15px;
    margin: 15px 0;
  }

  .card-tittle h3 {
    font-size: 27px;
    color: #fff;
    margin: 5px 25px;
  }

  .multi-title span h3 {
    font-size: 30px;
    margin-left: -66px;
  }

  .card-para p {
    color: #fff;
    font-size: 18px;
    margin: 2px 20px;
  }

  .card-lang ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-left: -55px;
  }

  .card-lang ul li {
    font-size: 18px;
    border: 1px solid grey;
    color: #fff;
    padding: 5px 10px;
    background-color: gray;
  }

  .card-butt {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .card-butt button {
    margin: 2px 30px;
    text-wrap: nowrap;
    padding: 5% 125px;
    background-color: orangered;
    font-size: 20px;
    color: #fff;
    border: none;
  }

  /* About section mobile */
  .abt-container {
    background-color: #1c1a19;
    padding: 80px 2px 20px 1px;
    margin: 150px 0 10px 0;
  }

  .abt-me {
    background-image: url(./assets/images/abt-mobile-background.png);
    background-repeat: no-repeat;
    padding-bottom: 250px;
    background-position-x: 100%;
    background-position-y: 370px;
  }

  .abt-me-title h2 {
    font-size: 60px;
    color: orangered;
    font-weight: bold;
    text-align: center;
  }

  .abt-me-para p {
    margin: 10px 18px 10px 18px;
    font-size: 18px;
    margin-bottom: 50px;
    color: #fff;
  }

  .abt-me-btn button {
    background-color: orangered;
    padding: 17px 40px 17px 40px;
    border: none;
    color: #fff;
    margin-left: 19px;
  }

  .abt-line p {
    border: 1px solid white;
    margin: 225px 20px 20px 20px;
  }

  .abt-cards {
    display: f;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: -200px;
  }

  .abt-card {
    padding: 2px 80px;
    max-width: 260px;
  }

  .abt-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 50px;
    margin: 1px 10px 1px -70px;
  }

  .abt-card-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 52px;
  }

  .abt-card-title h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }

  .abt-card-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }

  .abt-card-list ul li {
    color: #fff;
    font-size: 27px;
    text-wrap: nowrap;
  }

  .abt-card-list ul li span {
    margin-left: -30px;
  }

  .contact {
    background-color: white;
  }

  footer {
    background-color: #fff;
  }

  .interest p {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 100px 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 5%;
  }

  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 17px;
    border-bottom: 0.5px solid grey;
  }

  textarea {
    border: none;
    padding: 40px 40px 40px 16px;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  textarea::placeholder {
    font-size: 19px;
    padding-left: -200px;
  }

  form span {
    margin: 10px 35%;
  }

  form span button {
    background-color: #ff6b00;
    border: none;
    color: white;
    padding: 15px 25px;
    text-wrap: nowrap;
  }

  .footicons ul {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 100px;
    border-top: 0.25px solid grey;
  }

  .footicons ul li {
    margin-top: 30px;
  }

  .footicons ul li img {
    background-color: black;
    border: none;
    border-radius: 5px;
  }

  .footline p {
    border: 2px solid black;
    margin: 15px 90px 10px 90px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
  }
}

/* Tablet version */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    font-family: 'Poppins', sans-serif;
  }

  .homep {
    background-color: #1c1a19;
    background-image: url(./assets/images/mobile_home.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 230px;
    padding-bottom: 120px;
  }

  .logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: -10px;
    color: #fff;
  }

  .logo {
    background-color: grey;
  }

  header {
    background-color: grey;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 85%;
  }

  nav {
    align-items: center;
  }

  nav ul {
    display: none;
  }

  .hambuger {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
  }

  .hambuger p {
    border: 1px solid #fff;
    width: 20px;
    margin-bottom: -10px;
  }

  .intro {
    padding-top: 120px;
  }

  .intro h1 {
    color: #ff6b00;
    font-weight: bold;
    font-size: 40px;
    margin: 0 24px 10px 24px;
  }

  .work h2 {
    color: #fff5e1;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin: 12px 24px 12px 24px;
  }

  .details p {
    color: #fff;
    margin: 0 24px 0 24px;
    font-size: 18px;
  }

  .icons ul {
    display: flex;
    gap: 9px;
    padding-left: 35px;
    list-style: none;
    margin-top: 20px;
  }

  .projects {
    padding-top: 150px;
  }

  .title h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }

  .title p {
    border: 1px solid grey;
    margin: 10px 35px 70px 35px;
    text-align: center;
  }

  .multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-multi img {
    width: 500px;
    height: 400px;
  }

  .multi-para p {
    margin: 10px 30px 10px 30px;
    line-height: 26px;
    font-size: 20px;
  }

  .multi-lang ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    list-style: none;
    margin-left: -10px;
  }

  .multi-lang ul li {
    font-size: 20px;
    border: 1px solid grey;
    padding: 5px;
  }

  .multi-but button {
    margin-left: -164px;
    font-size: 20px;
    color: #fff;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 10px 15px;
    margin-top: 20px;
  }

  .cards {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    border: 1px solid red;
  }

  .card {
    background-image: url(./assets/images/proj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    gap: 15px;
    margin: 15px;
  }

  .card-tittle h3 {
    font-size: 27px;
    color: #fff;
    margin: 5px 25px;
  }

  .multi-title span h3 {
    font-size: 30px;
    margin-left: -66px;
  }

  .card-para p {
    color: #fff;
    font-size: 18px;
    margin: 2px 20px;
  }

  .card-lang ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-left: -55px;
  }

  .card-lang ul li {
    font-size: 18px;
    border: 1px solid grey;
    color: #fff;
    padding: 5px 10px;
    background-color: gray;
  }

  .card-butt {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .card-butt button {
    margin: 2px 30px;
    text-wrap: nowrap;
    padding: 5% 125px;
    background-color: orangered;
    font-size: 20px;
    color: #fff;
    border: none;
  }

  /* About section mobile */
  .abt-container {
    background-color: #1c1a19;
    padding: 80px 2px 20px 1px;
    margin: 150px 0 10px 0;
  }

  .abt-me {
    background-image: url(./assets/images/abt-mobile-background.png);
    background-repeat: no-repeat;
    padding-bottom: 250px;
    background-position-x: 100%;
    background-position-y: 370px;
  }

  .abt-me-title h2 {
    font-size: 60px;
    color: orangered;
    font-weight: bold;
    text-align: center;
  }

  .abt-me-para p {
    margin: 10px 18px 10px 18px;
    font-size: 18px;
    margin-bottom: 50px;
    color: #fff;
  }

  .abt-me-btn button {
    background-color: orangered;
    padding: 17px 40px 17px 40px;
    border: none;
    color: #fff;
    margin-left: 19px;
  }

  .abt-line p {
    border: 1px solid white;
    margin: 225px 20px 20px 20px;
  }

  .abt-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .abt-card {
    padding: 2px 80px;
    max-width: 260px;
  }

  .abt-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 50px;
    margin: 1px 10px 1px -70px;
  }

  .abt-card-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 52px;
  }

  .abt-card-title h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }

  .abt-card-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }

  .abt-card-list ul li {
    color: #fff;
    font-size: 27px;
    text-wrap: nowrap;
  }

  .abt-card-list ul li span {
    margin-left: -30px;
  }

  .contact {
    background-color: white;
  }

  footer {
    background-color: #fff;
  }

  .interest p {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 100px 8px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 5%;
  }

  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 17px;
    border-bottom: 0.5px solid grey;
  }

  textarea {
    border: none;
    padding: 40px 40px 40px 16px;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  textarea::placeholder {
    font-size: 19px;
    padding-left: -200px;
  }

  form span {
    margin: 10px 35%;
  }

  form span button {
    background-color: #ff6b00;
    border: none;
    color: white;
    padding: 15px 25px;
    text-wrap: nowrap;
  }

  .footicons ul {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 100px;
    border-top: 0.25px solid grey;
  }

  .footicons ul li {
    margin-top: 30px;
  }

  .footicons ul li img {
    background-color: black;
    border: none;
    border-radius: 5px;
  }

  .footline p {
    border: 2px solid black;
    margin: 15px 90px 10px 90px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
  }
}

/*Desktop version*/


@media screen and (min-width: 1025px){

  body {
    font-family: 'Poppins', sans-serif;
  }

  .homep {
    background-color: #1c1a19;
    background-image: url(./assets/images/desktophome.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: -100px;
    padding-bottom: 120px;
  }
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  margin-left: -270px;
}
  .logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    color: #fff;
  }

  .logo {
    background-color: grey;
  }

  header {
    background-color: grey;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 600px;
  }

  nav ul {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    gap: 15px;
    list-style: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #fff;
  }

  .hambuger {
    display: none;
  }

  .intro {
    padding-top: 120px;
  }

  .intro h1 {
    color: #ff6b00;
    font-weight: bold;
    font-size: 40px;
    margin: 0 24px 10px 24px;
  }

  .work h2 {
    color: #fff5e1;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin: 12px 24px 12px 24px;
  }

  .details p {
    color: #fff;
    margin: 0 24px 0 24px;
    font-size: 18px;
    max-width: 500px;
  }

  .icons ul {
    display: flex;
    gap: 9px;
    padding-left: 35px;
    list-style: none;
    margin-top: 120px;
    margin-left: -950px;
    flex-direction: column;
  }

  .projects {
    padding-top: 150px;
  }
.title {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
  .title h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }

  .title p {
    border: 1px solid grey;
    padding: 0 300px;
  
    
  }

  .multi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 5px 80px;
  }
  .multi-title span h3 {

    padding-left: 180px;
  }
  .image-multi img {
    width: 500px;
    height: 400px;
  }

  .multi-para p {
    margin: 10px 110px 10px 110px;
    line-height: 26px;
    font-size: 20px;
  }

  .multi-lang ul {
    display: flex;
    padding-left:110px ;
    gap: 10px;
    list-style: none;
    padding: 2px 2px 2px -100px;
  }

  .multi-lang ul li {
    font-size: 20px;
    border: 1px solid grey;
    padding: 5px;
  }
.multi-but {
  margin-left:275px ;
}
  .multi-but button {
    margin-left: -164px;
    font-size: 20px;
    color: #fff;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 10px 15px;
    margin-top: 20px;
  }

  .cards {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  border: 1px solid red;

  }

  .card {
    background-image: url(./assets/images/proj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    gap: 15px;
    margin: 15px;
  }

  .card-tittle h3 {
    font-size: 27px;
    color: #fff;
    margin: 5px 25px;
  }

  .multi-title span h3 {
    font-size: 30px;
    margin-left: -66px;
  }

  .card-para p {
    color: #fff;
    font-size: 18px;
    margin: 2px 20px;
  }

  .card-lang ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-left: -55px;
  }

  .card-lang ul li {
    font-size: 18px;
    border: 1px solid grey;
    color: #fff;
    padding: 5px 10px;
    background-color: gray;
  }

  .card-butt {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .card-butt button {
    margin: 2px 30px;
    text-wrap: nowrap;
    padding: 5% 125px;
    background-color: orangered;
    font-size: 20px;
    color: #fff;
    border: none;
  }

  /* About section mobile */
  .abt-container {
    background-color: #1c1a19;
    padding: 80px 2px 20px 1px;
    margin: 150px 0 10px 0;
  }

  .abt-me {
    background-image: url(./assets/images/abtmedesktop.png);
    background-repeat: no-repeat;
    padding-bottom: 250px;
    background-position-x: 100%;
    background-position-y: 37px;
  }


  .abt-me-title h2 {
    font-size: 60px;
    color: orangered;
    font-weight: bold;
    margin-left: 15px;
  }

  .abt-me-para p {
    margin: 10px 750px 10px 20px;
    font-size: 18px;
    margin-bottom: 50px;
    color: #fff;
  }

  .abt-me-btn button {
    background-color: orangered;
    padding: 17px 40px 17px 40px;
    border: none;
    color: #fff;
    margin-left: 19px;
  }

  .abt-line p {
    border: 1px solid white;
    margin: 225px 20px 20px 20px;
  }

  .abt-cards {
   display: grid;
   grid-template-columns: repeat(3, auto);
   justify-content: center;
   align-items: center;
   gap: 20px;
  }

  .abt-card {
    padding: 2px 80px;
    max-width: 260px;
  }

  .abt-card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 50px;
    margin: 1px 10px 1px -70px;
  }

  .abt-card-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 52px;
  }

  .abt-card-title h2 {
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
  }

  .abt-card-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }

  .abt-card-list ul li {
    color: #fff;
    font-size: 27px;
    text-wrap: nowrap;
  }

  .abt-card-list ul li span {
    margin-left: -30px;
  }

  .contact {
    background-color: white;
  }
  .cont-div {
    display: flex;
   
    align-items: center;
    
  }
  footer {
    background-color: #fff;
  }

  .interest p {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    max-width: 500px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 5%;
    padding: 10px 100px;
  }

  form input {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 17px 200px;
    border-bottom: 0.5px solid grey;
  }

  textarea {
    border: none;
    padding: 40px 40px 40px 16px;
    background-color: whitesmoke;
    border-radius: 10px;
  }

  textarea::placeholder {
    font-size: 19px;
    padding-left: -200px;
  }

  form span {
    margin: 10px;
  }

  form span button {
    background-color: #ff6b00;
    border: none;
    color: white;
    padding: 15px 25px;
    text-wrap: nowrap;
  }

  .footicons ul {
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 100px;
    border-top: 0.25px solid grey;
  }

  .footicons ul li {
    margin-top: 30px;
  }

  .footicons ul li img {
    background-color: black;
    border: none;
    border-radius: 5px;
  }

  .footline p {
    border: 2px solid black;
    margin: 15px 90px 10px 90px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
  }
}