@media screen and (min-width: 375px) and (max-width: 768px) {
  body {
    font-family: 'Poppins', sans-serif;
  }

  .homep {
    background-color: #1c1a19;
    background-image: url(./assets/images/mobile_home.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 270px;
    padding-bottom: 120px;
  }

  .logo p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 20px;
    color: #fff;
  }

  .logo {
    border: 1px solid;
    background-color: grey;
  }

  header {
    background-color: grey;
  }

  nav ul {
    display: none;
  }

  .hambuger {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-top: -55px;
    padding-right: 20px;
  }

  .hambuger p {
    border: 1px solid #fff;
    width: 20px;
    margin-bottom: -10px;
  }

  .intro {
    padding-top: 120px;
    margin-top: 30px;
  }

  .intro h1 {
    color: #ff6b00;
    font-weight: bold;
    font-size: 40px;
    margin: 0 24px 10px 24px;
  }

  .work h2 {
    color: #fff5e1;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
    margin: 12px 24px 12px 24px;
  }

  .details p {
    color: #fff;
    margin: 0 24px 0 24px;
    font-size: 18px;
  }

  .icons ul {
    display: flex;
    gap: 9px;
    padding-left: 35px;
    list-style: none;
  }

  .projects {
    padding-top: 150px;
  }

  .title h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }

  .title p {
    border: 1px solid grey;
    margin: 10px 35px 70px 35px;
    text-align: center;
  }

  .multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .multi-para p {
    margin: -10px 15px 0 15px;
    line-height: 26px;
    font-size: 17px;
  }

  .multi-lang ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    list-style: none;
    margin-left: -55px;
  }

  .multi-lang ul li {
    font-size: 20px;
    border: 1px solid grey;
    padding: 5px;
  }

  .multi-but button {
    margin-left: -164px;
    font-size: 20px;
    color: #fff;
    background-color: orangered;
    border: 1px solid orangered;
    padding: 10px 15px;
  }

  .cards {
    margin-top: 80px;
  }

  .card {
    background-image: url(./assets/images/proj.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 350px;
    gap: 15px;
    margin: 15px 0;
  }

  .card-tittle h3 {
    font-size: 27px;
    color: #fff;
    margin: 5px 25px;
  }

  .multi-title span h3 {
    font-size: 30px;
    margin-left: -66px;
  }

  .card-para p {
    color: #fff;
    font-size: 18px;
    margin: 2px 20px;
  }

  .card-lang ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-left: -55px;
  }

  .card-lang ul li {
    font-size: 18px;
    border: 1px solid grey;
    color: #fff;
    padding: 5px 10px;
    background-color: gray;
  }

  .card-butt {
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }

  .card-butt button {
    margin: 2px 100%;
    text-wrap: nowrap;
    padding: 5% 125%;
    background-color: orangered;
    font-size: 20px;
    color: #fff;
    border: none;
  }
}
